/* styles.css */

/* Estilo base para el botón */
.button {
    -fx-background-color: red; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-padding: 10px 20px; /* Relleno interno */
    -fx-border-radius: 5px; /* Radio de borde */
    -fx-font-weight: bold;
    -fx-cursor: hand;
    /*-fx-alignment: baseline-left;*/
    
}

/* Estilo al pasar el mouse sobre el botón */
.button:hover {
    -fx-background-color: #cc0000; /* Color de fondo al pasar el mouse */
}

/* Estilo al hacer clic en el botón */
.button:pressed {
    -fx-background-color: #aa0000; /* Color de fondo al hacer clic */
}



